{{ partial "head" . }}

{{ partial "nav" . }}

<div class="ph3 bg-off-white">
	<div class="center mw6 pv3">

		<img src="/img/logo.svg" alt="" class="db w4 center pv4">

		<h3 class="f4 b lh-title mb2">Want to talk?</h3>
		<p>Please reach out! You can also use the form below for any inquiries. </p>

		<div class="flex-ns mb3">

			<div>
				<h4 class="f4 b lh-title mb2 primary">Snail Mail</h4>
				<p>1000 Olin Way, #289, Needham, MA, 02492</p>
			</div>

			<div>
				<h4 class="f4 b lh-title mb2 primary">Email</h4>
				<p>contact@acronym.consulting</p>
			</div>

		</div>

		{{ partial "contact-form" . }}

	</div>
</div>

{{ partial "footer" . }}
