{{ partial "head" . }}
{{ partial "nav" . }}
{{ partial "jumbo2" (dict "imageUrl" "/img/team/team2.jpg" "title" "Our Team") }}

<div class="mw7 center ph3 pt4">

  {{ partial "media-block" (dict "heading" "Jared Briskman" "text" "Jared uses his mechanical intuition and software skills to build accurate models of systems. Jared’s across-the-board experience doing everything from app design to CNC milling lets him find the right solution to the problem at hand. Most recently, Jared worked for Shell TechWorks, where he was engaged in full-stack web development, systems engineering, data science, and stakeholder interaction." "imageUrl" "/img/Headshots/jared.jpg") }}

  {{ partial "media-block-reverse" (dict "heading" "Lauren Gulland" "text" "Lauren is a mechanical engineer who combines her hardware engineering talent with software engineering experience. Lauren’s past projects have included building her own 3D printer and working on lightweight UAVs. Most recently, Lauren worked for Formlabs, helping to develop the upcoming Fuse 1 3D printer." "imageUrl" "/img/Headshots/lauren.jpg") }}

  {{ partial "media-block" (dict "heading" "Eric Miller" "text" "Eric is a robot controls engineer who enjoys finding creative workarounds to conventionally difficult problems. He balances his core software skillset with experience in rapid prototyping and PCB design. Most recently, Eric worked at Google, where he built proof-of-concept Machine Learning systems." "imageUrl" "/img/Headshots/eric.jpg") }}

  {{ partial "media-block-reverse" (dict "heading" "Carl Moser" "text" "Carl is a systems engineer researching cutting-edge integrated mechanical, electrical, and software systems, including human-machine interfaces and drone control algorithms. Most recently, Carl worked in the Olin Intelligent Vehicles Lab, where he developed a method of using thermal imaging cameras to detect and track endangered whales." "imageUrl" "/img/Headshots/carl.jpg") }}

  {{ partial "media-block" (dict "heading" "Arpan Rau" "text" "Arpan is an aerospace engineer who has delivered complex hardware on-time and on-budget at places like JPL, SpaceX, and NASA Goddard. Arpan enjoys working on problems outside of his discipline and is skilled in Python programming and PCB Design. Most recently, Arpan worked for Relativity Space, designing and building launch vehicle hardware using revolutionary manufacturing methods." "imageUrl" "/img/Headshots/arpan.jpg") }}
</div>

{{ partial "footer" . }}
